@import "tailwindcss";

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 9999px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 9999px;
}
